/**
* #0# INDEX & NOTES
*
* This is a project made by me, for me to learn more and for you to learn more about me.
*
* My name is David Lopes and I'm a webdeveloper.
*
*
* #1# LESS VARIABLES
*
* Less variables to use on this project
*/
/**
* #2# MIXINS
*
* Useful CSS3 LESS Mixins - https://css-tricks.com/snippets/css/useful-css3-less-mixins/
*/
/**
* #3# RESET
*
* Reset Less - https://gist.github.com/joshuapowell/1680540
*/
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/**
* #3# BASIC ELEMENTS
*
* Styles for basic elements, such as body, header and footer
*/
html {
  background: url(../img/bg_ollie_1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: #333;
}
body a {
  color: #666;
}
body header h1 {
  font-size: 250%;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.75), -1px -1px #444;
  text-align: center;
  color: #333;
}
body header h1:before,
body header h1:after {
  content: attr(title);
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}
body header h1:before {
  top: 1px;
  left: 1px;
}
body header h1:after {
  top: 2px;
  left: 2px;
}
body article p {
  margin-bottom: 10px;
  font-size: 85%;
}
body footer {
  font-size: 66%;
}
/**
* #3# CLASSES
*
* Styles for classed elements.
*/
.container {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.33);
  background-color: rgba(255, 255, 255, 0.75);
  margin: 20px auto;
  padding: 20px;
}
.new {
  background-color: rgba(255, 255, 255, 0.33);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.33)), to(rgba(255, 255, 255, 0.66)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.66));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.66));
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.66));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.66));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: #333 2px solid;
  padding: 8px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}
.new a,
.new b {
  color: #333;
}
.new b {
  display: table-cell;
  vertical-align: middle;
  padding-right: 8px;
  border-right: #333 2px solid;
  font-size: 100%;
}
.new p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 8px;
  font-size: 80%;
}
.text-right {
  text-align: right;
}
/**
* #99# MEDIA QUERIES
*
* Cutting Edge Device Targeting with CSS3 Media Queries - http://www.htmlgoodies.com/html5/css/cutting-edge-device-targeting-with-css3-media-queries.html#fbid=pniw00U88Xx
*/
/* Smartphones (portrait and landscape) --  --  --  --  -- - */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .container {
    width: 80%;
  }
}
/* Smartphones (landscape) --  --  --  --  -- - */
@media only screen and (min-width: 321px) {
  /* Styles */
  .container {
    width: 80%;
  }
}
/* Smartphones (portrait) --  --  --  --  -- - */
@media only screen and (max-width: 320px) {
  /* Styles */
  .container {
    width: 80%;
  }
}
/* iPads (portrait and landscape) --  --  --  --  -- - */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .container {
    width: 30%;
  }
}
/* iPads (landscape) --  --  --  --  -- - */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .container {
    width: 30%;
  }
}
/* iPads (portrait) --  --  --  --  -- - */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .container {
    width: 55%;
  }
}
/* Desktops and laptops --  --  --  --  -- - */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .container {
    width: 30%;
  }
}
/* Large screens --  --  --  --  -- - */
@media only screen and (min-width: 1824px) {
  /* Styles */
  .container {
    width: 30%;
  }
}
